*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: black;
}
h1{
    color: white;
}
.cursor_item{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: yellow;
    top: 10px;
    left: 0;

    margin: -50px 0 0 =50px;
    transition: all 500ms cubic-bezier(0.770, -0.600, 0.480, 1.650); ;
}