*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: black;
}
h1{
    color: white;
}
.cursor_item{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: yellow;
    top: 10px;
    left: 0;
}