body{
    position: relative;
    overflow: hidden;
    
    
    background: url(./img/field.png)no-repeat ;
    background-size: cover;

}
.people{
    position: absolute;
    width: 600px;
    left: calc(50% - 300px);
}
.flower{
    width: 100%;
    position: absolute;
    

}